<a href="https://colab.research.google.com/github/Nitin88611/Playstore-app-data-analysis/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# define a list named numbe
numbe = [1,'Nitin',True,4,5.5,6,7,8,9]
print(numbe)
type(numbe[2])
len(numbe[1])

[1, 'Nitin', True, 4, 5.5, 6, 7, 8, 9]

5

In [ ]:
newlist = ['acb','aaa','aca']
sorted(newlist)

['aaa', 'aca', 'acb']

In [ ]:
print ("hello\example\text.txt")

hello\example	ext.txt

In [ ]:
a = list()
a = [1,8,3,4,5,6,7]
print(a)
sorted(a,reverse=False)

[1, 8, 3, 4, 5, 6, 7]

[1, 3, 4, 5, 6, 7, 8]

In [ ]:
wday = ('Monday', 'Tuesday', 'Thursday')

In [ ]:
import numpy as nym

main_array = nym.array([2,3,5,7,11])

print(type(main_array))

print(main_array)

another_array = nym.array([[1,2],[3,4]])
print(another_array)

print(main_array.shape)

<class 'numpy.ndarray'>
[ 2  3  5  7 11]
[[1 2]
 [3 4]]
(5,)